<%= stylesheet_link_tag 'access'%>
<ul class="breadcrumbs">
  <li><a href="/"><span class="fas fa-caret-right"></span>ホーム</a></li>
  <li><a href="/access"><span class="fas fa-caret-right"></span>所在地・アクセス</a></li>
</ul>
<article class="kiji">
  <h2>所在地・アクセス</h2>
  <p>所在地：北海道石狩郡当別町白樺町2792総合体育館内</p>
  <h3>地図</h3>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.3885512324982!2d141.51137019035136!3d43.22231257884034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b39914f294669%3A0x42d9adf5ac1b5e0!2z5b2T5Yil55S656uL5b2T5Yil55S6IOe3j-WQiOS9k-iCsumkqA!5e0!3m2!1sja!2sjp!4v1591354129509!5m2!1sja!2sjp"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <ul class="access">
    <li>
      <span class="fas fa-caret-right"></span><a href="https://www.town.tobetsu.hokkaido.jp/uploaded/attachment/14538.pdf">「ふれあいバス時刻表みどり野・青山線」当別町のページ</a>
    </li>
    <li>
      <span class="fas fa-caret-right"></span><a href="http://info-road.hdb.hkd.mlit.go.jp/RoadInfo/index.htm">「道路情報（道道28号線・当別浜益港線」北海道開発局のページ</a>
    </li>
  </ul>
</article>
<div class="side">
  <div class="rengokukai">
    <h3>当別町子ども会育成連合会<span class="box"></span></h3>
    <div class="logo2"><img src="/rengoukai.png"></div>
    <p>遊びは学び　子ども会活動</p>
  </div>
  <div class="mymenu">
    <h3>マイメニュー<span id="box"></span></h3>
    <ul class="my-menus">
      <li><a href="/"><span class="fas fa-caret-right"></span>事業予定</a></li>
      <li><a href="/event"><span class="fas fa-caret-right"></span>年間行事</a></li>
      <li><a href="/junior"><span class="fas fa-caret-right"></span>当別町ジュニアリーダーサークル「Ezo.jr」</a></li>
    </ul>
  </div>
  <div class="tab">
    <img src="/tobetsu.banner.png">
  </div>
</div>